<h1 class="my-4 fw-lighter">請選擇要發送幹話的對象</h1>

<main class="container">
  <form action="/generate" method="POST">
    <div class="mb-4 row">
      <div class="form-check col col-md-4 d-flex flex-column align-items-center">
        <label class="form-check-label" for="engineer">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" alt="">
          <div class="d-flex justify-content-center mt-2">
            <input class="form-check-input" type="radio" name="jobTitle" id="engineer" value="engineer"
            {{#if checked.engineer }} checked {{/if}} required>
            <span class="job-title fw-light">工程師</span>
          </div>
        </label>
      </div>
      <div class="form-check col col-md-4 d-flex flex-column align-items-center">
        <label class="form-check-label" for="designer">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt="">
          <div class="d-flex justify-content-center mt-2">
            <input class="form-check-input" type="radio" name="jobTitle" id="designer" value="designer"
            {{#if checked.designer }} checked {{/if}}>
            <span class="job-title fw-light">設計師</span>
          </div>
        </label>
      </div>
      <div class="form-check col col-md-4 d-flex flex-column align-items-center">
        <label class="form-check-label" for="entrepreneur">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" alt="">
          <div class="d-flex justify-content-center mt-2">
            <input class="form-check-input" type="radio" name="jobTitle" id="entrepreneur" value="entrepreneur"
            {{#if checked.entrepreneur }} checked {{/if}}>
            <span class="job-title fw-light">創業家</span>
          </div>
        </label>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="d-grid col-12 col-md-2 mb-3 mb-md-0">
        <button type="submit" class="btn btn-warning col-form-label">產生幹話</button>
      </div>

      <div class="col-12 col-md-10">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ talk }}</textarea>
      </div>
    </div>
  </form>
</main>